* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "NanumSquare", sans-serif;
}
main {
  width: 100%;
  padding: 10px 300px;
}
@media (max-width: 744px) {
  main {
    padding: 10px 20px;
  }
}

@import "/src/components/Header/header.scss";
@import "/src/pages/homePage/homepage.scss";
