.homePage-firstSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  input {
    width: 1016px;
    height: 56px;
    background: #f1f5f9; /* slate/900 */
    border: 2px solid #0f172a;
    border-radius: 24px;
  }
  button {
    width: 168px;
    height: 56px;
    cursor: pointer;
    background: #e2e8f0;
    border: 2px solid #0f172a;
    border-radius: 24px;
  }
}
.homePage-secondSection {
  margin-top: 50px;
  display: flex;
}

.homePage-todoLogo {
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 27px 7px;
  gap: 10px;
  width: 101px;

  background: #bef264;
  border-radius: 23px;
}
.homePage-todoListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.homePage-todoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

//done
.homePage-doneLogo {
  margin-bottom: 30px;

  width: 101px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 27px 7px;
  gap: 10px;

  background: #15803d;
  border-radius: 23px;
}

.homePage-doneListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
//
.homePage-checkBox {
  width: 588px;
  height: 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px;
  border: 2px solid #0f172a;
  border-radius: 27px;
  input {
    /* Ellipse 1 */

    box-sizing: border-box;

    /* yellow/50 */
    background: #fefce8;
    /* slate/900 */
    border: 2px solid #0f172a;
    border-radius: 100;
  }
  div {
  }
}

@media (max-width: 744px) {
  .homePage-firstSection {
    input {
      width: 518px;
      height: 56px;
    }
    button {
      width: 162px;
      height: 56px;
    }
  }
}
